<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="/lib/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="/lib/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <style>
        #notification {
            position: fixed;
            bottom: 20px;
            left: 20px;
            width: 200px;
            padding: 20px;
            border-radius: 5px;
            background-color: white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }

        .hidden {
            display: none;
        }
    </style>
    <title>Лицей №79 | Учебный класс | Учитель</title>
</head>

<body>
    <div id="app">
        <v-app>
            <v-dialog dark v-model='searching' persistent width="300">
                <v-card color="primary">
                    <v-card-title>Поиск Машин</v-card-title>
                    <v-card-text>
                        <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
                    </v-card-text>
                </v-card>
            </v-dialog>
            <v-dialog v-model="moreDialog" persistent max-width="290">
                <v-card dark>
                    <v-card-title class="headline">Общие Действия</v-card-text>
                        <v-card-text>
                            <v-btn @click="turnOffAll" dark>Выключить Машины <br> через 15 секунд</v-btn> <br><br>
                            <v-btn @click="turnOffAll" dark>Трансляция Экрана </v-btn> <br><br>
                            <v-btn @click="command = 'shutdown -a'; open()" dark>Отменить отключение</v-btn> <br><br>
                            <v-text-field v-model="command" label="Комманда" required></v-text-field>
                            <v-btn @click="open">Выполнить комманду</v-btn>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn dark @click="moreDialog = false">назад</v-btn>
                        </v-card-actions>
                </v-card>
            </v-dialog>
            <v-content style="background: whitesmoke;">
                <v-toolbar color="indigo" dark>
                    <v-btn @click='refresh'>
                        <v-icon>mdi-refresh</v-icon>
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-text-field v-model='classroom' style="margin-top: 25px;" label="Кабинет">

                    </v-text-field>
                    <v-btn @click="changeRoom">
                        <v-icon>mdi-door</v-icon>
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-btn @click='moreDialog = true'>
                        <v-icon>mdi-more</v-icon>
                    </v-btn>
                </v-toolbar>

                <v-container fluid>
                    <v-row dense>
                        <v-col v-for="machine in machines" :key="machine.hostname" rows="5" cols="6">
                            <v-card min-width="350px" elevation="5">
                                <v-img :src="'http://'+machine.ip+':7979/screenshot'" class="white--text align-end"
                                    gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)" height="200px">
                                    <v-card-title v-text="(machine.hostname ? machine.hostname : machine.ip)">
                                    </v-card-title>
                                </v-img>
                                </v-card-title>
                                <v-card-actions>
                                    <v-btn @click="lock((machine.hostname ? machine.hostname : machine.ip))" icon>
                                        <v-icon>mdi-lock</v-icon>
                                    </v-btn>
                                    <v-btn @click="unlock((machine.hostname ? machine.hostname : machine.ip))" icon>
                                        <v-icon>mdi-lock-open</v-icon>
                                    </v-btn>
                                    <v-spacer></v-spacer>
                                    <v-btn @click="vnc((machine.hostname ? machine.hostname : machine.ip))" icon>
                                        <v-icon>mdi-devices</v-icon>
                                    </v-btn>
                                    <v-spacer></v-spacer>
                                    <v-btn @click="poweroff((machine.hostname ? machine.hostname : machine.ip))" icon>
                                        <v-icon>mdi-power-settings</v-icon>
                                    </v-btn>
                                    <v-spacer></v-spacer>
                                    <a target="_system"
                                        :href="'http://'+(machine.hostname ? machine.hostname : machine.ip)+':7979/filemanager'">
                                        <v-btn icon>
                                            <v-icon>mdi-folder</v-icon>
                                        </v-btn>
                                    </a>
                                </v-card-actions>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-container>

            </v-content>
            <v-footer dark>
                <div>{{version}}</div>
                <v-spacer></v-spacer>
                <div>Copyright (c) 2019 Misha Marinenko</div>
            </v-footer>
        </v-app>
        <p id="version"></p>
        <div id="notification" class="hidden">
            <p id="message"></p>
            <button id="close-button" onClick="closeNotification()">
                Закрыть
            </button>
            <button id="restart-button" onClick="restartApp()" class="hidden">
                Перезагрузить
            </button>
        </div>
    </div>

    <script src="/lib/vue/dist/vue.js"></script>
    <script src="/lib/vuetify/dist/vuetify.js"></script>
    <script>
        let cmd2 = async (url, data) => {
            const formData = new FormData();

            formData.append("exec", data);
            const response = await fetch(url, {
                method: 'POST',
                body: formData
            });

            return response;
        }
    </script>
    <script>
        window.app = new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data: {
                machines: [],
                version: "",
                searching: true,
                classroom: "206",
                moreDialog: false,
                command: "http://google.com"
            },
            watch: {
                machines: function (val) {
                    this.searching = (val.lenght == []);
                },
            },
            methods: {
                async fetchMachines() {
                    const Fetch = await fetch("/machines");
                    const response = await Fetch.json();
                    this.machines = response;
                    this.machines.sort((a, b) => a.hostname.localeCompare((b.hostname ? b.hostname : b.ip)));
                },
                async lock(host) {
                    const Fetch = await fetch("http://" + host + ":7979/lock");
                },
                async unlock(host) {
                    const Fetch = await fetch("http://" + host + ":7979/unlock");
                },
                async vnc(host) {
                    const Fetch = await fetch("/vnc/" + host);
                },
                async poweroff(host) {
                    const Fetch = await fetch("http://" + host + ":7979/cmd?command=shutdown -s -f -t 15");
                },
                refresh() {
                    location.href = location.href
                },
                turnOffAll() {
                    this.searching = true;
                    this.machines.forEach((machine) => {
                        this.poweroff(machine.ip);
                    })
                    this.searching = false;
                },
                async open() {
                    this.searching = true;
                    this.machines.forEach((machine) => {
                        fetch(`http://${machine.ip}:7979/cmd/?command=start ${this.command}`);
                    })
                    this.searching = false;
                },
                async openViewTeacher() {
                    const myIPFetch = await fetch("/ip");
                    const myIP = await myIPFetch.json();
                    this.searching = true;
                    this.machines.forEach(async (machine) => {
                        await fetch(`http://${machine.ip}:7979/cmd/?command="C:/Program Files/TightVNC/tvnviewer.exe" -host=${myIp.ip} -password=tetrisview`);
                    })
                    this.searching = false;
                },
                changeRoom() {
                    alert('Программа закрывается (по причине изменений настроек ядра): откройте ее заново.')
                    fetch(`/setRoom?room=${this.classroom}`);
                }
            },
            created() {
                this.fetchMachines();
                fetch("/room").then((res) => res.text()).then((classroom) => this.classroom = classroom.toString());
                setInterval(() => this.fetchMachines(), 1000);
            }
        })
    </script>
    <script>
        const { ipcRenderer } = require('electron');
        const version = document.getElementById('version');

        ipcRenderer.send('app_version');
        ipcRenderer.on('app_version', (event, arg) => {
            ipcRenderer.removeAllListeners('app_version');
            app.$data.version = arg.version;
        });
        const notification = document.getElementById('notification');
        const message = document.getElementById('message');
        const restartButton = document.getElementById('restart-button');
        ipcRenderer.on('update_available', () => {
            ipcRenderer.removeAllListeners('update_available');
            message.innerText = 'A new update is available. Downloading now...';
            notification.classList.remove('hidden');
        });
        ipcRenderer.on('update_downloaded', () => {
            ipcRenderer.removeAllListeners('update_downloaded');
            message.innerText = 'Update Downloaded. It will be installed on restart. Restart now?';
            restartButton.classList.remove('hidden');
            notification.classList.remove('hidden');
        });
        function closeNotification() {
            notification.classList.add('hidden');
        }
        function restartApp() {
            ipcRenderer.send('restart_app');
        }
    </script>
</body>

</html>